<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    #subjects {
        background-color: #f5f5f5;
    }

    #btns {
        padding: 8px;
        text-align: right;
        border-bottom: 1px solid #ddd;
    }
</style>

<%- partial('../partial/sidemenu.ejs') %>
<div class="content admin w-100">
    <h5 class="main-heading1">
        申請處理管理<span class="highlight">系統</span>
    </h5>

    <form action="/admin/applyHandle/search" method="GET">

        <div class="row mx-sm-2">
            <div class="form-group col-12">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">申請項目 Application Project</label>
                <select class="form-control" id="application" name="application" onchange="appSelected(this.value);"
                    required>
                    <option value="">請選擇申請項目 Select Application Project</option>
                    <option value="competition" disabled>---Activity/Competition 活動/比賽---</option>
                    <option value="acroage">2020年香港技巧體操公開賽 AcrobaticOpenCompetition2020</option>
                    <option value="gfa">2020年香港普及體操節 GFAFestival2020</option>
                    <option value="trampoline">2020年香港彈網分齡賽-雙人同步 TrampolineAgeGroupCompetition2020-Synchronized</option>
                    <option value="TRGA">2020年全港藝術體操分齡賽-團體(公開組) HKRGAgeGroupCompetition2020-Team(Public)</option>
                    <option value="TSRGA">2020年全港藝術體操分齡賽-團體(學校組) HKRGAgeGroupCompetition2020-Team(School)</option>
                    <option value="GRGP">2020年全港藝術體操分齡賽-集體(公開組) HKRGAgeGroupCompetition2020-Group(Public)</option>
                    <option value="GRGS">2020年全港藝術體操分齡賽-集體(學校組) HKRGAgeGroupCompetition2020-Group(School)</option>
                    <option value="other" disabled>---Membership 會員---</option>
                    <option value="clubMem">團體註冊申請 Application for Club Membership</option>
                </select>
            </div>

            <div class="form-group col-12" id="extraEvent"></div>
            <div class="form-group col-12" id="extraCat"></div>

            <div class="form-group col-12 col-sm-6">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">Payment Status 付款狀況</label>
                <select class="form-control" id="payStatus" name="payStatus">
                    <option value="">請選擇付款狀況 Select Payment Status</option>
                    <option value="paid">已付款 Paid</option>
                    <option value="unpaid">未付款 Unpaid</option>
                </select>
                <br>
            </div>

            <div class="form-group col-12 col-sm-6">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">Apply Status 申請狀況</label>
                <select class="form-control" id="formStatus" name="formStatus">
                    <option value="">請選擇申請狀況 Select Apply Status</option>
                    <option value="accepted">已確認 Accepted</option>
                    <option value="ToBeCon">待確認 To be confirmed</option>
                </select>
                <br>
            </div>


            <button type="submit" class="btn btn-primary"
                style="background-color: #83a70c; border-color: #83a70c; margin-left:auto; margin-right:auto;">搜尋
                Search</button>

        </div>

        <br><br>
        <table>
            <button type="button" class="btn btn-info">Excel Export</button>
            <br><br>

            <%if (applications){%>
            <span>搜尋申請項目 Searching Application Project: </span><br>

            <% if(form == "TRGA" || form == "TSRGA" || form == "gfa" || form == "GRGP" || form == "GRGS"){%>
            <!-- search result for TRGA/TSRGA/GFA/GRGP/GRGS -->
            <% if (form == "TRGA"){%>
            <b>2020年全港藝術體操分齡賽-團體(公開組) HKRGAgeGroupCompetition2020-Team(Public)</b>
            <%} else if (form == "TSRGA"){%>
            <b>2020年全港藝術體操分齡賽-團體(學校組) HKRGAgeGroupCompetition2020-Team(School)</b>
            <%} else if (form == "gfa"){%>
            <b>2020年香港普及體操節 GFAFestival2020</b>
            <%} else if (form == "GRGP"){%>
            <b>2020年全港藝術體操分齡賽-集體(公開組) HKRGAgeGroupCompetition2020-Group(Public)</b>
            <%} else if (form == "GRGS"){%>
            <b>2020年全港藝術體操分齡賽-集體(學校組) HKRGAgeGroupCompetition2020-Group(School)</b>
            <%}%>

            <br><br>

            <tr id="subjects">
                <th>隊伍/團體<br>Team/Organisation</th>
                <th>組別<br>Category</th>
                <th>付款<br>Payment</th>
                <th>提交日期<br>Apply Date</th>
                <th>狀態<br>Status</th>
            </tr>

            <% applications.forEach( function(model) { %>
            <% var n = new Date(model.createdAt);
                var month = n.getMonth() + 1;
                var applyDate = n.getDate() + "/" + month + "/" + n.getFullYear(); %>
            <tr>
                <td width="25%" height="100"><%= model.teamName %></td>

                <td width="25%"><%= model.category %></td>
                <% if(model.payStatus == "paid") {%>
                <td width="10%">Y</td>
                <%} else if (model.payStatus == "unpaid"){%>
                <td width="10%">N</td>
                <%}%>
                
                <td width="10%"><%= applyDate %></td>
                <td width="30%" id="btns">

                    <%if (model.formStatus == "ToBeCon") {%>
                    <a class="btn btn-primary" href="">確認</a>
                    <%} else if (model.formStatus == "accepted"){%>
                    <button type="button" class="btn btn-outline-primary" disabled>已確認</button>
                    <%}%>

                    <a class="btn btn-success" href="">編輯</a>
                    <a class="btn btn-danger" href="">取消</a>
                </td>
            </tr>
            <%});%>

            <% } else if (form == "acroage") {%>
            <!-- search result for Acroage -->
            <b>2020年香港技巧體操公開賽 AcrobaticOpenCompetition2020</b>
            <br><br>

            <tr id="subjects">
                <th>隊伍/團體<br>Team/Organisation</th>
                <th>項目<br>Event</th>
                <th>組別<br>Category</th>
                <th>付款<br>Payment</th>
                <th>提交日期<br>Apply Date</th>
                <th>狀態<br>Status</th>
            </tr>

            <%} else if (form == "trampoline") {%>
            <!-- search result for Trampoline -->
            <b>2020年香港彈網分齡賽-雙人同步 TrampolineAgeGroupCompetition2020-Synchronized</b>
            <br><br>

            <tr id="subjects">
                <th>隊伍/團體<br>Team/Organisation</th>
                <th>性別<br>Gender</th>
                <th>組別<br>Category</th>
                <th>付款<br>Payment</th>
                <th>提交日期<br>Apply Date</th>
                <th>狀態<br>Status</th>
            </tr>

            <%} else if (form == "clubMem") {%>
            <!-- search result for ClubMember -->
            <b>團體註冊申請 Application for Club Membership</b>
            <br><br>

            <tr id="subjects">
                <th>隊伍/團體<br>Team/Organisation</th>
                <th>付款<br>Payment</th>
                <th>提交日期<br>Apply Date</th>
                <th>狀態<br>Status</th>
            </tr>

            <% applications.forEach( function(model) { %>
            <% var n = new Date(model.createdAt);
                        var month = n.getMonth() + 1;
                        var applyDate = n.getDate() + "/" + month + "/" + n.getFullYear(); %>
            <tr>
                <td width="25%" height="100"><%= model.OrgChiName %><br><%= model.OrgEngName %></td>

                <% if(model.payStatus == "paid") {%>
                <td width="10%">Y</td>
                <%} else if (model.payStatus == "unpaid"){%>
                <td width="10%">N</td>
                <%}%>
                        
                        <td width="10%"><%= applyDate %></td>
                <td width="30%" id="btns">

                    <%if (model.formStatus == "ToBeCon") {%>
                    <a class="btn btn-primary" href="">確認</a>
                    <%} else if (model.formStatus == "accepted"){%>
                    <button type="button" class="btn btn-outline-primary" disabled>已確認</button>
                    <%}%>
        
                            <a class="btn btn-success" href="">編輯</a>
                            <a class="btn btn-danger" href="">取消</a>
                        </td>
                    </tr>
            <%});%>
            <%} %>

            <%} %>
        </table>
        <br>
    </form>
</div>





<script>
    var acrCategory = ["1級(6至14歲) Level 1(6-14 years old)", "2級(6至14歲) Level 2(6-14 years old)", "3級(8歲或以上) Level 3(8 years old or above)", "4級(9歲或以上) Level 4(9 years old or above)", "5級(10歲或以上) Level 5(10 years old or above)"];
    var gfaCategory = ["幼稚園 Kindergarten", "小學組 Primary School", "公開組 Open Group"];
    var traCategory = ["14歲或以下 14 or below", "15至16歲 15-16 years old", "17歲或以上 17 or above"];
    var trgaCategory = ["預備A,B組", "預備C,D組", "預備E組", "初級A組", "初級B組", "高級A組", "高級B組"];
    var grgCategory = ["集體A組(五人圈操)", "集體B組(五人圈操)", "集體C組(三球兩帶)"];

    function appSelected(compValue) {
        var event = document.getElementById("extraEvent");

        if (compValue == "acroage") {
            event.innerHTML = "<label style=\"color: #888888; font-size: 16pt;\" class=\"col-form-label\">項目 Event</label>"
                + "<select class=\"form-control\" id=\"event\" name=\"event\">"
                + "<option value=\"\">請選擇項目 Select Event</option>"
                + "<option value=\"menDouble\">男子雙人 Men's Double</option>"
                + "<option value=\"womenDouble\">女子雙人 Women's Double</option>"
                + "<option value=\"mixDouble\">混合雙人 Mixed double</option>"
                + "<option value=\"womenTri\">女子三人 Women's trio</option></select>";

        } else if (compValue == "trampoline") {
            event.innerHTML = "<label style=\"color: #888888; font-size: 16pt;\" class=\"col-form-label\">性別 Gender</label>"
                + "<select class=\"form-control\" id=\"gender\" name=\"gender\">"
                + "<option value=\"\">請選擇性別 Select Gender</option>"
                + "<option value=\"man\">男 Man</option>"
                + "<option value=\"female\">女 Female</option></select>";
        } else {
            event.innerHTML = "";
        }


        //Category
        var appSelect = document.getElementById("extraCat");

        if (compValue == "clubMem" || compValue == "") {
            appSelect.innerHTML = "";
        } else {
            appSelect.innerHTML = "<label style=\"color: #888888; font-size: 16pt;\" class=\"col-form-label\">Category 組別</label>"
                + "<select class=\"form-control\" id=\"category\" name=\"category\"></select>";

            var gpSelect = document.getElementById("category");
            gpSelect.options.length = 0;

            if (compValue == "acroage") {
                acrCategory.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    gpSelect.add(option);
                });

            } else if (compValue == "gfa") {
                gfaCategory.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    gpSelect.add(option);
                });

            } else if (compValue == "trampoline") {
                traCategory.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    gpSelect.add(option);
                });

            } else if (compValue == "TRGA" || compValue == "TSRGA") {
                trgaCategory.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    gpSelect.add(option);
                });

            } else if (compValue == "GRGP" || compValue == "GRGS") {
                grgCategory.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    gpSelect.add(option);
                });
            }
        }
    }
</script>