<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    #subjects {
        background-color: #f5f5f5;
    }

    #btns {
        padding: 8px;
        text-align: right;
        border-bottom: 1px solid #ddd;
    }

    .fa-check {
        color: green;
    }

    .fa-remove {
        color: red;
    }

    #statusBtn {
        width: 65pt;
        font-size: small;
        text-align: center;
    }

    /* delete button */
    .modalBtn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .modalBtn:hover {
        opacity: 1;
    }

    .cancelbtn,
    .deletebtn {
        float: left;
        width: 50%;
    }

    .cancelbtn {
        background-color: #ccc;
        color: black;
    }

    .deletebtn {
        background-color: #f44336;
    }

    .container {
        padding: 16px;
        text-align: center;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(8, 8, 8, 0.5);
        padding-top: 50px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    @media screen and (max-width: 300px) {

        .cancelbtn,
        .deletebtn {
            width: 100%;
        }
    }
</style>

<%- partial('../partial/sidemenu.ejs') %>
<div class="content admin w-100">
    <h5 class="main-heading1">
        申請處理管理<span class="highlight">系統</span>
    </h5>

    <form action="/admin/applyHandle/search" method="GET">
        <!-- Search bar -->
        <div class="row mx-sm-2">
            <div class="form-group col-12">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">申請項目 Application Project</label>
                <select class="form-control" id="application" name="application" onchange="appSelected(this.value);"
                    required>
                    <option value="">請選擇申請項目 Select Application Project</option>
                    <option value="competition" disabled>---Activity/Competition 活動/比賽---</option>
                    <option value="acroage">2020年香港技巧體操公開賽 AcrobaticOpenCompetition2020</option>
                    <option value="gfa">2020年香港普及體操節 GFAFestival2020</option>
                    <option value="trampoline">2020年香港彈網分齡賽-雙人同步 TrampolineAgeGroupCompetition2020-Synchronized</option>
                    <option value="TRGP">2020年全港藝術體操分齡賽-團體(公開組) HKRGAgeGroupCompetition2020-Team(Public)</option>
                    <option value="TRGS">2020年全港藝術體操分齡賽-團體(學校組) HKRGAgeGroupCompetition2020-Team(School)</option>
                    <option value="GRGP">2020年全港藝術體操分齡賽-集體(公開組) HKRGAgeGroupCompetition2020-Group(Public)</option>
                    <option value="GRGS">2020年全港藝術體操分齡賽-集體(學校組) HKRGAgeGroupCompetition2020-Group(School)</option>
                    <option value="other" disabled>---Membership 會員---</option>
                    <option value="clubMem">團體註冊申請 Application for Club Membership</option>
                </select>
            </div>

            <div class="form-group col-12" id="extraEvent"></div>
            <div class="form-group col-12" id="extraCat"></div>

            <div class="form-group col-12 col-sm-6">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">付款狀況 Payment Status</label>
                <select class="form-control" id="payStatus" name="payStatus">
                    <option value="">請選擇付款狀況 Select Payment Status</option>
                    <option value="paid">已付款 Paid</option>
                    <option value="unpaid">未付款 Unpaid</option>
                </select>
            </div>

            <div class="form-group col-12 col-sm-6">
                <label style="color: #888888; font-size: 16pt;" class="col-form-label">申請狀況 Apply Status</label>
                <select class="form-control" id="formStatus" name="formStatus">
                    <option value="">請選擇申請狀況 Select Apply Status</option>
                    <option value="ToBeCon">待確認 To be confirmed</option>
                    <option value="accepted">已確認 Accepted</option>
                    <option value="rejected">已拒絕 Rejected</option>
                    <option value="dataDef">資料不全 Data Deficiency</option>
                </select>
            </div>

            <div class="form-group col-12" id="extraTSt"></div>

            <button type="submit" class="btn btn-primary"
                style="background-color: #83a70c; border-color: #83a70c; margin-left:auto; margin-right:auto;">搜尋
                Search</button>

        </div>

        <br><br>

        <!-- Search result -->

        <table>
            <%if (applications){%>
            <button type="button" class="btn btn-info" style="font-size: small;">匯出Excel<br>Excel Export</button>
            &nbsp;&nbsp;<button type="button" class="btn btn-primary" style="font-size: small;"
                onclick="confirmAll('<%= form%>')">全部確認<br>Confirm
                All</button>
            <br><br>

            <span>搜尋申請項目 Searching Application Project: </span><br>

            <% if (form == "TRGP"){%>
            <b>2020年全港藝術體操分齡賽-團體(公開組) HKRGAgeGroupCompetition2020-Team(Public)</b>
            <%} else if (form == "TRGS"){%>
            <b>2020年全港藝術體操分齡賽-團體(學校組) HKRGAgeGroupCompetition2020-Team(School)</b>
            <%} else if (form == "gfa"){%>
            <b>2020年香港普及體操節 GFAFestival2020</b>
            <%} else if (form == "GRGP"){%>
            <b>2020年全港藝術體操分齡賽-集體(公開組) HKRGAgeGroupCompetition2020-Group(Public)</b>
            <%} else if (form == "GRGS"){%>
            <b>2020年全港藝術體操分齡賽-集體(學校組) HKRGAgeGroupCompetition2020-Group(School)</b>
            <%} else if (form == "trampoline"){%>
            <b>2020年香港彈網分齡賽-雙人同步 TrampolineAgeGroupCompetition2020-Synchronized</b>
            <%} else if (form == "acroage"){%>
            <b>2020年香港技巧體操公開賽 AcrobaticOpenCompetition2020</b>
            <%} else if (form == "clubMem") {%>
            <b>團體註冊申請 Application for Club Membership</b>
            <%}%>

            <br><br>

            <tr id="subjects">
            <th align="center">申請編號<br>Application No.</th>
            <% if (form != "acroage"){ %>
            <th align="center">隊伍/團體<br>Team/Organisation</th>

            <% } if (form == "trampoline"){ %>
            <th align="center">性別<br>Gender</th>

            <% } if (form == "acroage"){ %>
            <th align="center">項目<br>Event</th>

            <%} if (form != "clubMem") {%>
            <th align="center">組別<br>Category</th>
            <% } %>

            <th>付款<br>Payment</th>
            <th align="center">提交日期<br>Apply Date<br>(DD/MM/YYYY)</th>
            <th>狀態<br>Status</th>
            </tr>

            <% applications.forEach( function(models) { %>
            <% var n = new Date(models.createdAt);
                var month = n.getMonth() + 1;
                var applyDate = n.getDate() + "/" + month + "/" + n.getFullYear(); %>

            <tr>
                <!-- 申請編號 Apply No. -->
                <td width="10%"><%= models.idCode %></td>

                <!--Column: 隊伍/團體 Team/Organisation -->
                <% if (form != "acroage"){ %>
                <%if(form == "clubMem") {%>
                <td width="40%" height="100"><%= models.OrgChiName%><br><%= models.OrgEngName%></td>
                <% } else {%>
                <td width="30%" height="100"><%= models.teamName %></td>
                <%}%>

                <!-- Column: 性別 Gender -->
                <%} if (form == "trampoline"){ %>
                <td width="25%"><%= models.gender %></td>

                <!-- Column: 項目 Event -->
                <%} if (form == "acroage"){ %>
                <td width="25%"><%= models.item %></td>

                <!-- Column:組別 Category -->
                <%} if (form != "clubMem"){%>
                <td width="25%"><%= models.category %></td>

                <!-- Column:付款 Payment -->
                <%} if(models.payStatus == "paid") {%>
                <td width="10%"><i class="fa fa-check"></i></td>
                <%} else if (models.payStatus == "unpaid"){%>
                <td width="10%"><i class="fa fa-remove"></i></td>
                <%}%>

                <!-- Column:提交日期 Apply Date -->
                <td width="15%"><%= applyDate %></td>

                <!-- Column:狀態 Status  -->
                <%if (models.formStatus == "rejected") {%>
                <td width="10%" id="btns">
                    <button type="button" class="btn btn-outline-danger" id="statusBtn"
                        disabled>已拒絕<br>Rejected</button>

                    <% if (form == "TRGP"){%>
                    <a type="button" class="btn btn-success" id="statusBtn"
                        href="/admin/applyHandle/TRGPEdit/<%= models.id %>">編輯<br>Edit</a>
                    <%} else if (form == "TRGS"){%>
                    <a type="button" class="btn btn-success" id="statusBtn" href="">編輯<br>Edit</a>
                    <%} else if (form == "gfa"){%>
                    <a type="button" class="btn btn-success" id="statusBtn" href="">編輯<br>Edit</a>
                    <%} else if (form == "GRGP"){%>
                    <a type="button" class="btn btn-success" id="statusBtn" href="">編輯<br>Edit</a>
                    <%} else if (form == "GRGS"){%>
                    <a type="button" class="btn btn-success" id="statusBtn"
                        href="/admin/applyHandle/GRGSEditForm/<%= models.id %>">編輯<br>Edit</a>
                    <%} else if (form == "trampoline"){%>
                    <a type="button" class="btn btn-success" id="statusBtn"
                        href="/admin/applyHandle/TrampolineEditForm/<%= models.id %>">編輯<br>Edit</a>
                    <%} else if (form == "acroage"){%>
                    <a type="button" class="btn btn-success" id="statusBtn" href="">編輯<br>Edit</a>
                    <%} else if (form == "clubMem") {%>
                    <a type="button" class="btn btn-success" id="statusBtn" href="">編輯<br>Edit</a>
                    <%}%> 
                </td>

                <%} else {%>
                <td width="10%" id="btns">
                    <%if (models.formStatus == "ToBeCon") {%>
                    <a type="button" class="btn btn-primary" id="statusBtn" onclick="confirm('<%= form%>', '<%= models.id%>')">確認<br>Confirm</a>
                    <a type="button" class="btn btn-warning" style="color: white;" id="statusBtn" href="">資料不全<br>Data
                        Deficiency</a>
                    <%} else if (models.formStatus == "accepted"){%>
                    <button type="button" class="btn btn-outline-primary" id="statusBtn"
                        disabled>已確認<br>Accepted</button>
                    <%} else if(models.formStatus == "dataDef") {%>
                    <a type="button" class="btn btn-primary" id="statusBtn" href="">確認<br>Confirm</a>
                    <button type="button" class="btn btn-outline-warning" id="statusBtn" disabled>資料不全<br>Data
                        Deficiency</button>
                    <%}%>

           
                    <a type="button" class="btn btn-danger" id="statusBtn" onclick="document.getElementById('<%= models.idCode%>').style.display='block'"
                    style="color: white;">拒絕<br>Rejected</a>
                    <!-- reject box -->
                    <div id="<%= models.idCode%>" class="modal">
                        <div class="modal-content">
                            <div class="container">
                                <h1>拒絕申請 Reject Application<br><%= models.idCode%></h1>
                                <p>確定要拒絕這份申請表?<br>Are you sure you want to reject this application?</p>

                                <div class="clearfix">
                                    <button type="button" class="cancelbtn modalBtn"
                                        onclick="document.getElementById('<%= models.idCode%>').style.display='none'">取消
                                        Cancel</button>
                                    <button type="button" class="deletebtn modalBtn"
                                        onclick="rejectForm('<%= form%>','<%= models.id%>')">拒絕 Rejected</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <%if (models.teamStatus == "suTeam") {%>
                    <a type="button" class="btn btn-info" id="statusBtn" href="">後補<br>Waitiing</a>
                    <%} else {%>
                    <button type="button" class="btn btn-outline-info" id="statusBtn" disabled>後補<br>Waitiing</button>
                    <%}%>

                    <% if (form == "TRGP"){%>
                    <a type="button" class="btn btn-success" id="statusBtn"
                        href="/admin/applyHandle/TRGPEdit/<%= models.id %>">編輯<br>Edit</a>
                    <%} else if (form == "TRGS"){%>
                    <a type="button" class="btn btn-success" id="statusBtn" href="">編輯<br>Edit</a>
                    <%} else if (form == "gfa"){%>
                    <a type="button" class="btn btn-success" id="statusBtn" href="">編輯<br>Edit</a>
                    <%} else if (form == "GRGP"){%>
                    <a type="button" class="btn btn-success" id="statusBtn" href="">編輯<br>Edit</a>
                    <%} else if (form == "GRGS"){%>
                    <a type="button" class="btn btn-success" id="statusBtn"
                        href="/admin/applyHandle/GRGSEditForm/<%= models.id %>">編輯<br>Edit</a>
                    <%} else if (form == "trampoline"){%>
                    <a type="button" class="btn btn-success" id="statusBtn"
                        href="/admin/applyHandle/TrampolineEditForm/<%= models.id %>">編輯<br>Edit</a>
                    <%} else if (form == "acroage"){%>
                    <a type="button" class="btn btn-success" id="statusBtn" href="">編輯<br>Edit</a>
                    <%} else if (form == "clubMem") {%>
                    <a type="button" class="btn btn-success" id="statusBtn" href="">編輯<br>Edit</a>
                    <%}%> 

                </td>
                <%}%>

            </tr>

            <%});%>
            <%} %>
        </table>

        <br>
    </form>
</div>







<script>
    var acrCategory = ["1級(6至14歲) Level 1(6-14 years old)", "2級(6至14歲) Level 2(6-14 years old)", "3級(8歲或以上) Level 3(8 years old or above)", "4級(9歲或以上) Level 4(9 years old or above)", "5級(10歲或以上) Level 5(10 years old or above)"];
    var gfaCategory = ["幼稚園 Kindergarten", "小學組 Primary School", "公開組 Open Group"];
    var traCategory = ["14 歲或以下 14 years old or below", "15 至 16 歲 15 to 16 years old", "17 歲或以上 17 years old or above"];
    var trgaCategory = ["預備A,B組", "預備C,D組", "預備E組", "初級A組", "初級B組", "高級A組", "高級B組"];
    var grgCategory = ["集體 A 組(五人圈操)", "集體 B 組(五人圈操)", "集體 C 組(三球兩帶)"];

    function appSelected(compValue) {
        var event = document.getElementById("extraEvent");

        if (compValue == "acroage") {
            event.innerHTML = "<label style=\"color: #888888; font-size: 16pt;\" class=\"col-form-label\">項目 Event</label>"
                + "<select class=\"form-control\" id=\"item\" name=\"item\">"
                + "<option value=\"\">請選擇項目 Select Event</option>"
                + "<option value=\"男子雙人 Men's Double\">男子雙人 Men's Double</option>"
                + "<option value=\"女子雙人 Women's Double\">女子雙人 Women's Double</option>"
                + "<option value=\"混合雙人 Mixed double\">混合雙人 Mixed double</option>"
                + "<option value=\"女子三人 Women's trio\">女子三人 Women's trio</option></select>";

        } else if (compValue == "trampoline") {
            event.innerHTML = "<label style=\"color: #888888; font-size: 16pt;\" class=\"col-form-label\">性別 Gender</label>"
                + "<select class=\"form-control\" id=\"gender\" name=\"gender\">"
                + "<option value=\"\">請選擇性別 Select Gender</option>"
                + "<option value=\"男 Male\">男 Man</option>"
                + "<option value=\"女 Female\">女 Female</option></select>";
        } else {
            event.innerHTML = "";
        }


        //Category
        var appSelect = document.getElementById("extraCat");

        if (compValue == "clubMem" || compValue == "") {
            appSelect.innerHTML = "";
        } else {
            appSelect.innerHTML = "<label style=\"color: #888888; font-size: 16pt;\" class=\"col-form-label\">Category 組別</label>"
                + "<select class=\"form-control\" id=\"category\" name=\"category\"><option value=\"\">請選擇組別 Select Category</option></select>";

            var gpSelect = document.getElementById("category");
            //gpSelect.options.length = 0;

            if (compValue == "acroage") {
                acrCategory.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    gpSelect.add(option);
                });

            } else if (compValue == "gfa") {
                gfaCategory.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    gpSelect.add(option);
                });

            } else if (compValue == "trampoline") {
                traCategory.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    gpSelect.add(option);
                });

            } else if (compValue == "TRGP" || compValue == "TRGS") {
                trgaCategory.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    gpSelect.add(option);
                });

            } else if (compValue == "GRGP" || compValue == "GRGS") {
                grgCategory.forEach(function (item) {
                    var option = document.createElement("option");
                    option.id = "GRGCategory";
                    option.text = item;
                    option.value = item;
                    gpSelect.add(option);
                });
            }
        }

        //TeamStatus
        var TStSelect = document.getElementById("extraTSt");
        if (compValue != "clubMem") {
            TStSelect.innerHTML = "<label style=\"color: #888888; font-size: 16pt;\" class=\"col-form-label\">隊伍/團體狀況 Team Status</label>"
                + "<select class=\"form-control\" id=\"teamStatus\" name=\"teamStatus\">"
                + "<option value=\"\">請選擇隊伍/團體狀況 Select Team Status</option>"
                + "<option value=\"suTeam\">正選 Successful Team</option>"
                + "<option value=\"waitTeam\">後補 Team on Waitiing List</option></select><br>";

        } else {
            TStSelect.innerHTML = "";
        }

    }

    //Confirm all
    async function confirmAll(form) {
        var r = confirm("確認全部申請表? Are you sure to confirm all applications?");

        if (r) {
            var response = await fetch("/admin/applyHandle/" + form + "/confirmAll/", {
                method: "POST",
                credentials: 'same-origin',
            });

            if (response.ok) {
                var data = await response.json();
                alert(data.message);
                window.location = data.url;
            } else {
                alert(response.statusText);
            }
        } else {
            alert("取消 Cancelled");
        }
    };

    //Confirm form
    var modal = document.getElementById('askModal');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    async function confirm(form, id) {
        var response = await fetch("/admin/applyHandle/confirm/" + form + "/" + id, {
            method: "POST",
            credentials: 'same-origin',
        });
        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        } else {
            alert(response.status + ": " + response.statusText);
        }
    };

    // Delete form
    var modal = document.getElementById('askModal');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    async function rejectForm(form, id) {
        var response = await fetch("/admin/applyHandle/reject/" + form + "/" + id, {
            method: "POST",
            credentials: 'same-origin',
        });
        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = data.url;
        } else {
            alert(response.status + ": " + response.statusText);
        }
    };


</script>