<form action="/pages/competition/form/GFA_Preview" method="POST">

    <div class="col-12" style="width: 740pt;">
        <% req.session.data = req.session.data || {} %>
        <br>
        <h1 style="font-size: 18pt; text-align: center;"><b>Preview 預覽</b></h1>
        <br>
        <h1 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:16pt; color: #888888;">
            <b>2020年香港普及體操節</b></h1>
        <h2 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:14pt; color: #888888;">
            <u>報名表格</u></h2>
        <br>


        <div class="form-group">
            <label style="color: #83a70c; font-weight: bold; font-size: 15px;">團體資料 Group Details</label>
            <br>
            <span>團體名稱 Group Name:</span> <b><%= req.session.data.teamName%></b>
            <br>
            <span>收據抬頭 Receipt Header:</span> <b><%= req.session.data.receiptHeader%></b>
            <br>
            <span>聯絡地址 Address:</span> <b><%= req.session.data.address%></b>
            <br>
            <sapn>參賽組別 Category:</sapn> <b><%= req.session.data.category%></b>
            <br>
        </div>

        <div class="form-group">
            <label style="color: #83a70c; font-weight: bold; font-size: 15px;">聯絡人資料 Contact Person Details</label>
            <br>
            <span>中文姓名 Name in Chinese:</span> <b><%= req.session.data.cpChiName%></b>
            <br>
            <span>英文姓名 Name in English:</span> <b><%= req.session.data.cpEngName%></b>
            <br>
            <span>聯絡電話 Contact Number</span>
            <span>日間 Office Hour:</span> <b><%= req.session.data.cpDayPhone%></b>
            <span>手提 Mobile:</span> <b><%= req.session.data.cpMobilePhone%></b>
            <br>
            <span>電郵地址 Email Address:</span> <b><%= req.session.data.email%></b>
            <br>
        </div>

        <div class="from-group">
            <label style="color: #83a70c; font-weight: bold; font-size: 15px;">參賽資料 Competition Details</label>
            <br>
            <span>參加人數 Number of Applicants:</span> <b><%= req.session.data.applicantNum%></b>
            <br>
            <span>工作人員人數 Number of Crews:</span> <b><%= req.session.data.crewNum%></b>
            <br>
            <span>支票編號 Check Number:</span> <b><%= req.session.data.checkNum%></b>
            <br>
            <span>銀行名稱 Name of Bank:</span> <b><%= req.session.data.bankName%></b>
        </div>

        <br>

        <div class="row">
            <div class="form-group col-sm-10">
                <button type="submit" class="btn btn-info"
                    style="background-color: #83a70c; border-color: #83a70c;width: 150px; float:right"
                    onclick="message()">Submit
                    提交</button>

            </div>

            <div class="form-group col-sm-2">
                <button type="button" class="btn btn-danger" style="width: 150px; float:right"
                    onclick="history.back()">Cancel
                    取消</button>
            </div>
        </div>


    </div>

</form>

<script>
    function message() {
        alert("提交成功!! Successfully Submitted!");
    }

</script>