<form action="/pages/competition/form/Team_School_HKRGAgeGroupCompetitionFormPreview" method="POST">

    <div class="card col-12" style="width: 740pt;">
        <% req.session.data = req.session.data || {} %>
        <br>
        <h1 style="font-size: 18pt; text-align: center;"><b>Preview 預覽</b></h1>
        <br>
        <h1 style="color: #888888; font-size: 16pt; font-weight: 200;"><b>第63屆體育節 - 2020年全港藝術體操分齡比賽</b></h1>
        <h2 style="color: #888888; font-size:14pt; font-weight: 200;"><u><b>團體項目報名表(學校組)</b></u></h2>
        <br>


        <div class="form-group">
            <label style="color: #83a70c; font-weight: bold; font-size: 15px;">團體資料 Group Details</label>
            <br>
            <span>學校名稱(中文)<br>School Name(Chinese):</span> <b><%= req.session.data.TSSchoolChiName%></b>
            <br>
            <span>聯絡電話 Contact Number:</span> <b><%= req.session.data.TSPhone%></b>
            <br>
            <span>聯絡電郵 Email:</span> <b><%= req.session.data.TSEmail%></b>
            <br>
            <span>教練姓名 Coach Name:</span> <b><%= req.session.data.TSCoachName%></b>
            <br>
            <span>教練聯絡電話 Coach Contact Number:</span> <b><%= req.session.data.TSCoachPhone%></b>
            <br>
            <sapn>組別 Category:</sapn> <b><%= req.session.data.TSCategory%></b>
        </div>

        <div class="form-group">
            <label style="color: #83a70c; font-weight: bold; font-size: 15px;">參加者個人資料 Applicants' Personal
                Details</label>

            <div class="form-group">
                <label style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(1) Applicant(1)</label>
                <br>
                <span>中文姓名 Name in Chinese:</span> <b><%= req.session.data.TSMate1ChiName%></b>
                <br>
                <span>英文姓名 Name in English:</span> <b><%= req.session.data.TSMate1EngName%></b>
                <br>
                <span>身分證號碼 ID Card Number:</span> <b><%= req.session.data.TSMate1IDNo%></b>
                <br>
                <span>出生日期 Date of Birth (yyyy-mm-dd):</span> <b><%= req.session.data.TSMate1Date%></b>
            </div>

            <div class="form-group">
                <label style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(2) Applicant(2)</label>
                <br>
                <span>中文姓名 Name in Chinese:</span> <b><%= req.session.data.TSMate2ChiName%></b>
                <br>
                <span>英文姓名 Name in English:</span> <b><%= req.session.data.TSMate2EngName%></b>
                <br>
                <span>身分證號碼 ID Card Number:</span> <b><%= req.session.data.TSMate2IDNo%></b>
                <br>
                <span>出生日期 Date of Birth (yyyy-mm-dd):</span> <b><%= req.session.data.TSMate2Date%></b>
            </div>

            <div class="form-group">
                <label style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(3) Applicant(3)</label>
                <br>
                <span>中文姓名 Name in Chinese:</span> <b><%= req.session.data.TSMate3ChiName%></b>
                <br>
                <span>英文姓名 Name in English:</span> <b><%= req.session.data.TSMate3EngName%></b>
                <br>
                <span>身分證號碼 ID Card Number:</span> <b><%= req.session.data.TSMate3IDNo%></b>
                <br>
                <span>出生日期 Date of Birth (yyyy-mm-dd):</span> <b><%= req.session.data.TSMate3Date%></b>
            </div>

            <div class="form-group">
                <label style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(4) Applicant(4)</label>
                <br>
                <span>中文姓名 Name in Chinese:</span> <b><%= req.session.data.TSMate4ChiName%></b>
                <br>
                <span>英文姓名 Name in English:</span> <b><%= req.session.data.TSMate4EngName%></b>
                <br>
                <span>身分證號碼 ID Card Number:</span> <b><%= req.session.data.TSMate4IDNo%></b>
                <br>
                <span>出生日期 Date of Birth (yyyy-mm-dd):</span> <b><%= req.session.data.TSMate4Date%></b>
            </div>

        </div>

        <div class="from-group">
            <label style="color: #83a70c; font-weight: bold; font-size: 15px;">團體項目費用 Group Event's Fee</label>
            <br>
            <span>團體項目 Group Event: $250 X</span> <b><%= req.session.data.TSTeamNumber%></b>
            <span>隊 team(s) = $</span> <b><%= req.session.data.TSTeamPrice%></b>
            <br>
            <span>總額 Total price = $ </span> <b><%= req.session.data.TSTeamTotalPrice%></b>
        </div>

        <br><br>

        <div class="form-group">
            <button type="submit" class="btn btn-info" style="background-color: #83a70c; border-color: #83a70c;width: 150px;"
                onclick="message()">Submit 提交</button>
            <button type="button" class="btn btn-danger" style="width: 150px;" onclick="history.back()">Cancel
                取消</button>
        </div>


    </div>

</form>

<script>
    function message() {
        alert("提交成功!!");
    }

</script>