<form action="/pages/competition/form/Team_School_HKRGAgeGroupCompetitionFormPreview" method="POST">

    <div class="card col-12" style="width: 740pt;">
        <% req.session.data = req.session.data || {} %>
        <br>
        <h1 style="font-size: 18pt; text-align: center;"><b>Preview 預覽</b></h1>
        <br>
        <h1 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:16pt; color: #888888;"><b>第63屆體育節 -
                2020年全港藝術體操分齡比賽</b></h1>
        <h2 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:14pt; color: #888888;">
            <u>團體項目報名表(學校組)</u></h2>
        <br>


        <div class="form-group">
            <label style="color: #83a70c; font-weight: bold; font-size: 15px;">團體資料 Group Details</label>
            <br>
            <span>學校名稱(中文)<br>School Name(Chinese):</span> <b><%= req.session.data.SchoolChiName%></b>
            <br>
            <span>聯絡電話 Contact Number:</span> <b><%= req.session.data.Phone%></b>
            <br>
            <span>聯絡電郵 Email:</span> <b><%= req.session.data.Email%></b>
            <br>
            <span>教練姓名 Coach Name:</span> <b><%= req.session.data.CoachName%></b>
            <br>
            <span>教練聯絡電話 Coach Contact Number:</span> <b><%= req.session.data.CoachPhone%></b>
            <br>
            <sapn>組別 Category:</sapn> <b><%= req.session.data.Category%></b>
        </div>

        <div class="form-group">
            <label style="color: #83a70c; font-weight: bold; font-size: 15px;">參加者個人資料 Applicants' Personal
                Details</label>

            <div class="form-group">
                <label style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(1) Applicant(1)</label>
                <br>
                <span>中文姓名 Name in Chinese:</span> <b><%= req.session.data.Mate1ChiName%></b>
                <br>
                <span>英文姓名 Name in English:</span> <b><%= req.session.data.Mate1EngName%></b>
                <br>
                <span>身分證號碼 ID Card Number:</span> <b><%= req.session.data.Mate1IDNo%></b>
                <br>
                <span>出生日期 Date of Birth (yyyy-mm-dd):</span> <b><%= req.session.data.Mate1Date%></b>
            </div>

            <div class="form-group">
                <label style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(2) Applicant(2)</label>
                <br>
                <span>中文姓名 Name in Chinese:</span> <b><%= req.session.data.Mate2ChiName%></b>
                <br>
                <span>英文姓名 Name in English:</span> <b><%= req.session.data.Mate2EngName%></b>
                <br>
                <span>身分證號碼 ID Card Number:</span> <b><%= req.session.data.Mate2IDNo%></b>
                <br>
                <span>出生日期 Date of Birth (yyyy-mm-dd):</span> <b><%= req.session.data.Mate2Date%></b>
            </div>

            <div class="form-group">
                <label style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(3) Applicant(3)</label>
                <br>
                <span>中文姓名 Name in Chinese:</span> <b><%= req.session.data.Mate3ChiName%></b>
                <br>
                <span>英文姓名 Name in English:</span> <b><%= req.session.data.Mate3EngName%></b>
                <br>
                <span>身分證號碼 ID Card Number:</span> <b><%= req.session.data.Mate3IDNo%></b>
                <br>
                <span>出生日期 Date of Birth (yyyy-mm-dd):</span> <b><%= req.session.data.Mate3Date%></b>
            </div>

            <div class="form-group">
                <label style="color: #83a70c; font-weight: bold; font-size: 14px;">參加者(4) Applicant(4)</label>
                <br>
                <span>中文姓名 Name in Chinese:</span> <b><%= req.session.data.Mate4ChiName%></b>
                <br>
                <span>英文姓名 Name in English:</span> <b><%= req.session.data.Mate4EngName%></b>
                <br>
                <span>身分證號碼 ID Card Number:</span> <b><%= req.session.data.Mate4IDNo%></b>
                <br>
                <span>出生日期 Date of Birth (yyyy-mm-dd):</span> <b><%= req.session.data.Mate4Date%></b>
            </div>

        </div>

        <div class="from-group">
            <label style="color: #83a70c; font-weight: bold; font-size: 15px;">費用 Fee</label>
            <br>
            <span>團體項目 Group Event: $250 X</span> <b><%= req.session.data.TeamNumber%></b>
            <span>隊 team(s) = $</span> <b><%= req.session.data.TeamPrice%></b>
            <br>
            <span>總額 Total price = $ </span> <b><%= req.session.data.TeamTotalPrice%></b>
        </div>

        <br><br>

        <div class="row">
            <div class="form-group col-sm-10">
                <button type="submit" class="btn btn-info"
                    style="background-color: #83a70c; border-color: #83a70c;width: 150px; float:right"
                    onclick="message()">Submit
                    提交</button>

            </div>

            <div class="form-group col-sm-2">
                <button type="button" class="btn btn-danger" style="width: 150px; float:right"
                    onclick="history.back()">Cancel
                    取消</button>
            </div>
        </div>


    </div>

</form>

<script>
    function message() {
        alert("提交成功!! Successfully Submitted!");
    }

</script>