<!-- TRGPForm.ejs -->
<style type="text/css">
    .card {
        border-radius: 0;
    }

    #labelHead {
        color: #83a70c;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12pt;
    }
</style>

<form action="/pages/competition/form/TRGPForm" method="POST">

    <div class="row mx-sm-2">
        <div class="col-12" style="color: #888888; ">
            <br>
            <h1 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:16pt;"><b>第63屆體育節 -
                    2020年全港藝術體操分齡比賽</b></h1>
            <h2 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:14pt;"><u>團體項目報名表(公開組:學校以外之團體)</u>
            </h2>
            <br><br>
        </div>

        <div class="col-12">
            <h5 id="labelHead">比賽規則及章程 Rules and Regulation</h5>
        </div>

        <div class="col-12">
            <a href="http://www.gahk.org.hk/doc/Rules_HKRGAgeGroupCompetition.pdf" target="_blank"
                style="text-align: center;"><u>第63屆體育節2020年全港藝術體操分齡賽競賽要求 Rules of HKRGAgeGroupCompetition
                </u></a>
        </div>

        <div class="col-12">
            <br><br>
            <h5 id="labelHead">團體資料 Group Details</h5>
        </div>

        <div class="form-group col-12">
            <label>機構名稱(中文) Organization Name(Chinese):</label>
            <input type="text" name="TRGP[teamName]" style="width:450pt"
                onkeyup="value=value.replace(/[^\u4E00-\u9FA5\ \(\)]/g,'')" required>
        </div>

        <div class="form-group col-12 col-sm-6">
            <label>聯絡電話 Contact Number:</label>
            <input type="text" name="TRGP[Phone]" maxlength="8" onkeyup="value=value.replace(/[^\d\0-\9]/g,'')"
                required>
        </div>

        <div class="form-group col-12 col-sm-6">
            <label>聯絡電郵 Email Address:</label>
            <input type="email" name="TRGP[Email]" style="width:195pt" required>
        </div>

        <div class="form-group col-12 col-sm-6">
            <label>教練姓名 Coach Name:</label>
            <input input="text" name="TRGP[CoachName]" required>
        </div>

        <div class="form-group col-12 col-sm-6">
            <label>教練聯絡電話 Coach Contact Number:</label>
            <input type="text" name="TRGP[CoachPhone]" maxlength="8" onkeyup="value=value.replace(/[^\d\0-\9]/g,'')"
                required>
        </div>

        <div class="form-group col-12">
            <label>參賽組別 Category:</label>
            <input type="radio" name="TRGP[category]" value="預備A,B組" id="preAB" onclick="limitBirth()" required />
            <label class="form-check-label" for="category">預備A,B組</label>

            <input type="radio" name="TRGP[category]" value="預備C,D組" id="preCD" onclick="limitBirth()" required />
            <label class="form-check-label" for="category">預備C,D組</label>

            <input type="radio" name="TRGP[category]" value="預備E組" id="preE" onclick="limitBirth()" required />
            <label class="form-check-label" for="category">預備E組</label>

            <input type="radio" name="TRGP[category]" value="初級A組" id="junA" onclick="limitBirth()" required />
            <label class="form-check-label" for="category">初級A組</label>

            <input type="radio" name="TRGP[category]" value="初級B組" id="junB" onclick="limitBirth()" required />
            <label class="form-check-label" for="category">初級B組</label>

            <input type="radio" name="TRGP[category]" value="高級A組" id="senA" onclick="limitBirth()" required />
            <label class="form-check-label" for="category">高級A組</label>

            <input type="radio" name="TRGP[category]" value="高級B組" id="senB" onclick="limitBirth()" required />
            <label class="form-check-label" for="category">高級B組</label>
        </div>


        <div class="card col-12 col-sm-6" style="background: transparent;">
            <br>
            <h6 id="labelHead">參加者(1)個人資料 Applicant(1)'s Personal Details</h6>
            <br>

            <div class="form-group">
                <label>是否有中文姓名 Any Chinese name: </label>
                <input type="radio" name="TRGP[havecname1]" value="是 Yes" id="Yes1" onclick="havechinesename()"
                    required />
                <label class="form-check-label" for="havecname1">是 Yes</label>

                &nbsp;<input type="radio" name="TRGP[havecname1]" value="否 No" id="No1" onclick="havechinesename()"
                    required />
                <label class="form-check-label" for="havecname1">否 No</label>
            </div>
            <div class="form-group">
                <label>中文姓名 Name in Chinese:</label>
                <% if(data.havecname1) {%>
                <% if(data.havecname1 == "否 No") {%>
                <input type="text" name="TRGP[Mate1ChiName]" id="Mate1ChiName" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required disabled>
                <%} else {%>
                <input type="text" name="TRGP[Mate1ChiName]" value="<%=data.Mate1ChiName%>" id="Mate1ChiName"
                    placeholder=" e.g. 陳大文" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
                <%}} else {%>
                <input type="text" name="TRGP[Mate1ChiName]" id="Mate1ChiName" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
                <%}%>

            </div>
            <div class="form-group">
                <label>英文姓名 Name in English:</label>
                <input type="text" name="TRGP[Mate1EngName]" placeholder=" e.g. Chan Tai Man"
                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
            </div>
            <div class="form-group">
                <label>身分證號碼 ID Card Number:</label>
                <input type="text" name="TRGP[Mate1IDNo]" placeholder=" A123456(7)" required>
            </div>
            <div class="form-group">
                <label>出生日期 Date of Birth (dd/mm/yyyy):</label>
                <input type="date" id="birth1" name="TRGP[Mate1Date]" required>
            </div>
        </div>

        <div class="card col-12 col-sm-6" style="background: transparent;">
            <br>
            <h6 id="labelHead">參加者(2)個人資料 Applicant(2)'s Personal Details</h6>
            <br>

            <div class="form-group">
                <label>是否有中文姓名 Any Chinese name: </label>
                <input type="radio" name="TRGP[havecname2]" value="是 Yes" id="Yes2"
                    onclick="havechinesename()" required />
                <label class="form-check-label" for="havecname2">是 Yes</label>

                &nbsp;<input type="radio" name="TRGP[havecname2]" value="否 No" id="No2"
                    onclick="havechinesename()" required />
                <label class="form-check-label" for="havecname2">否 No</label>
            </div>
            <div class="form-group">
                <label>中文姓名 Name in Chinese:</label>
                <% if(data.havecname2) {%>
                <% if(data.havecname2 == "否 No") {%>
                <input type="text" name="TRGP[Mate2ChiName]" id="Mate2ChiName" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required disabled>
                <%} else {%>
                <input type="text" name="TRGP[Mate2ChiName]" value="<%=data.Mate2ChiName%>" id="Mate2ChiName"
                    placeholder=" e.g. 陳大文" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
                <%}} else {%>
                <input type="text" name="TRGP[Mate2ChiName]" id="Mate2ChiName" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
                <%}%>
            </div>
            <div class="form-group">
                <label>英文姓名 Name in English:</label>
                <input type="text" name="TRGP[Mate2EngName]" placeholder=" e.g. Chan Tai Man"
                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
            </div>
            <div class="form-group">
                <label>身分證號碼 ID Card Number:</label>
                <input type="text" name="TRGP[Mate2IDNo]" placeholder=" A123456(7)" required>
            </div>
            <div class="form-group">
                <label>出生日期 Date of Birth (dd/mm/yyyy):</label>
                <input type="date" id="birth2" name="TRGP[Mate2Date]" required>
            </div>
        </div>

        <div class="card col-12 col-sm-6" style="background: transparent;">
            <br>
            <h6 id="labelHead">參加者(3)個人資料 Applicant(3)'s Personal Details</h6>
            <br>

            <div class="form-group">
                <label>是否有中文姓名 Any Chinese name: </label>
                <input type="radio" name="TRGP[havecname3]" value="是 Yes" id="Yes3"
                    onclick="havechinesename()" required />
                <label class="form-check-label" for="havecname3">是 Yes</label>

                &nbsp;<input type="radio" name="TRGP[havecname3]" value="否 No" id="No3"
                    onclick="havechinesename()" required />
                <label class="form-check-label" for="havecname3">否 No</label>
            </div>
            <div class="form-group">
                <label>中文姓名 Name in Chinese:</label>
                <% if(data.havecname3) {%>
                <% if(data.havecname3 == "否 No") {%>
                <input type="text" name="TRGP[Mate3ChiName]" id="Mate3ChiName" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required disabled>
                <%} else {%>
                <input type="text" name="TRGP[Mate3ChiName]" value="<%=data.Mate3ChiName%>" id="Mate3ChiName"
                    placeholder=" e.g. 陳大文" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
                <%}} else {%>
                <input type="text" name="TRGP[Mate3ChiName]" id="Mate3ChiName" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
                <%}%>
            </div>
            <div class="form-group">
                <label>英文姓名 Name in English:</label>
                <input type="text" name="TRGP[Mate3EngName]" placeholder=" e.g. Chan Tai Man"
                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
            </div>
            <div class="form-group">
                <label>身分證號碼 ID Card Number:</label>
                <input type="text" name="TRGP[Mate3IDNo]" placeholder=" A123456(7)" required>
            </div>
            <div class="form-group">
                <label>出生日期 Date of Birth (dd/mm/yyyy):</label>
                <input type="date" id="birth3" name="TRGP[Mate3Date]" required>
            </div>
        </div>

        <div class="card col-12 col-sm-6" style="background: transparent;">
            <br>
            <h6 id="labelHead">參加者(4)個人資料 Applicant(4)'s Personal Details</h6>
            <br>

            <div class="form-group">
                <label>是否有中文姓名 Any Chinese name: </label>
                <input type="radio" name="TRGP[havecname4]" value="是 Yes" id="Yes4"
                    onclick="havechinesename()" required />
                <label class="form-check-label" for="havecname4">是 Yes</label>

                &nbsp;<input type="radio" name="TRGP[havecname4]" value="否 No" id="No4"
                    onclick="havechinesename()" required />
                <label class="form-check-label" for="havecname4">否 No</label>
            </div>
            <div class="form-group">
                <label>中文姓名 Name in Chinese:</label>
                <% if(data.havecname4) {%>
                <% if(data.havecname4 == "否 No") {%>
                <input type="text" name="TRGP[Mate4ChiName]" id="Mate4ChiName" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required disabled>
                <%} else {%>
                <input type="text" name="TRGP[Mate4ChiName]" value="<%=data.Mate4ChiName%>" id="Mate4ChiName"
                    placeholder=" e.g. 陳大文" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
                <%}} else {%>
                <input type="text" name="TRGP[Mate4ChiName]" id="Mate4ChiName" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
                <%}%>
            </div>
            <div class="form-group">
                <label>英文姓名 Name in English:</label>
                <input type="text" name="TRGP[Mate4EngName]" placeholder=" e.g. Chan Tai Man"
                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
            </div>
            <div class="form-group">
                <label>身分證號碼 ID Card Number:</label>
                <input type="text" name="TRGP[Mate4IDNo]" placeholder=" A123456(7)" required>
            </div>
            <div class="form-group">
                <label>出生日期 Date of Birth (dd/mm/yyyy):</label>
                <input type="date" id="birth4" name="TRGP[Mate4Date]" required>
            </div>
        </div>

        <div class="form-group col-12">
            <span>備註 Remarks:</span>
            <ol>
                <li>如有需要，可自行影印表格<br>Applicants can make copy of the form if needed.</li>
                <li>每張報名表只可報<u>一個</u>組別<br>An application form can be applied for <u>one</u> category only.</li>
            </ol>
            <br>
        </div>

        <div class="form-group col-12">
            <h5 id="labelHead">費用 Fee</h5>

            <div class="form-group">
                <label>團體項目 Group Event: $250 X </label>
                <input id="teamNo" type="number" name="TRGP[TeamNumber]" min=1 style="width: 50pt;" onblur="calculate()"
                    required>
                <span>隊 team(s) = $</span>
                <% if (data.TeamPrice) {%>
                <input id="teamPrice" type="number" name="TRGP[TeamPrice]" value="<%=data.TeamPrice%>" readonly
                    required>
                <%} else {%>
                <input id="teamPrice" type="number" name="TRGP[TeamPrice]" readonly required>
                <%}%>
                <br>
            </div>
            <div class="form-group">
                <label>總額 Total price = $</label>
                <% if (data.TeamTotalPrice) {%>
                <input id="total" type="number" name="TRGP[TeamTotalPrice]" value="<%=data.TeamTotalPrice%>" readonly
                    required>
                <%} else {%>
                <input id="total" type="number" name="TRGP[TeamTotalPrice]" readonly required>
                <%}%>
            </div>

            <span style="font-style: italic;">*請以支票付款，並以郵寄方式或親臨辦公室遞交支票<br>Please make payment by cheque and submit it by
                post or in person</span>
            <br><br><br>
        </div>

        <div class="form-group col-12">
            <h5 id="labelHead">文件上載
                Document Upload</h5>
            <div class="form-group">
                <label>請提交商業登記證明 Please upload the Valid Bussiness Registration Certificate
                    (pdf檔)</label>
                <input type="file" accept="image/*,application/pdf" onchange="handleFile1(this.files)" required />
                <div id="preview1"></div>
            </div>
        </div>

        <div class="form-group col-12">
            <h5 id="labelHead">聲明 Declaration</h5>

            <div class="form-group">
                <label>請下載及列印<a href="/formDoc/Team_HKRG_declaration.pdf" download><u
                            style="color:rgb(159, 209, 60);">聲明書.pdf</u></a>後簽署並上載文件 Please download and print the <a
                        href="/formDoc/Team_HKRG_declaration.pdf" download><u
                            style="color:rgb(159, 209, 60);">declaration.pdf</u></a>, then sign and upload it</label>
                <input type="file" accept="image/*,application/pdf" onchange="handleFile2(this.files)" required />
                <div id="preview2"></div>
            </div>


            <div class="row">
                <div class="col-12 col-sm-6">
                    <label>機構負責人姓名 Leader's Name:</label>
                    <input type="text" class="form-group" name="TRGP[leaderName]" required>
                </div>
                <div class="col-12 col-sm-6">
                    <label>機構負責人職位 Leader's Position:</label>
                    <input type="text" class="form-group" name="TRGP[leaderPosition]" required>
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <br>
            <input type="checkbox" required>
            <label>我已仔細閱讀並清楚明白<a href="/competition/annex1" target="_blank"><u>參加者健康及體能須知</u></a><br> I have read
                carefully and understood the <a href="/competition/annex1" target="_blank"><u>Health and Fitness Guideline</u></a> for participants</label>
        </div>

        <div class="col-12">
            <br>
            <button type="submit" class="btn btn-primary"
                style="background-color: #83a70c; border-color: #83a70c; float:right">預覽 Preview >></button>
            <br><br>
        </div>
    </div>
</form>

<script>
    function calculate() {
        document.getElementById('teamPrice').value = 250 * document.getElementById('teamNo').value;

        var price = document.getElementById('teamPrice').value;

        document.getElementById('total').value = price;

    }


    function handleFile1(files) {
        const file = files[0];
        if (!file.type.startsWith('image/') && !file.type == 'application/pdf') return;
        var preview = document.getElementById('preview1');
        var reader = new FileReader();

        if (file.type.startsWith('image/')) {
            reader.onload = function (e) {
                preview.innerHTML = "";
                var img = document.createElement('img');
                img.src = e.target.result;
                preview.appendChild(img);
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'TRGP[VBRC]';
                input.value = e.target.result;
                img.style.width = "auto";
                img.style.height = "150px";
                preview.appendChild(input);
            }
        } else if (file.type == 'application/pdf') {
            reader.onload = function (e) {
                preview.innerHTML = "";
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'TRGP[VBRC]';
                input.value = e.target.result;
                preview.appendChild(input);
            }
        }
        reader.readAsDataURL(file);
    }

    function handleFile2(files) {
        const file = files[0];
        if (!file.type.startsWith('image/') && !file.type == 'application/pdf') return;
        var preview = document.getElementById('preview2');
        var reader = new FileReader();

        if (file.type.startsWith('image/')) {
            reader.onload = function (e) {
                preview.innerHTML = "";
                var img = document.createElement('img');
                img.src = e.target.result;
                preview.appendChild(img);
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'TRGP[Declaration]';
                input.value = e.target.result;
                img.style.width = "auto";
                img.style.height = "150px";
                preview.appendChild(input);
            }
        } else if (file.type == 'application/pdf') {
            reader.onload = function (e) {
                preview.innerHTML = "";
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'TRGP[Declaration]';
                input.value = e.target.result;
                preview.appendChild(input);
            }
        }
        reader.readAsDataURL(file);
    }

    //handle have chinese name option
    function havechinesename() {
        var yes1_check = document.getElementById("Yes1");
        var no1_check = document.getElementById("No1");
        var yes2_check = document.getElementById("Yes2");
        var no2_check = document.getElementById("No2");
        var yes3_check = document.getElementById("Yes3");
        var no3_check = document.getElementById("No3");
        var yes4_check = document.getElementById("Yes4");
        var no4_check = document.getElementById("No4");
        var chineseNameDis1 = document.getElementById("Mate1ChiName")
        var chineseNameDis2 = document.getElementById("Mate2ChiName")
        var chineseNameDis3 = document.getElementById("Mate3ChiName")
        var chineseNameDis4 = document.getElementById("Mate4ChiName")

        if (yes1_check.checked == true) {
            chineseNameDis1.checked = false;
            chineseNameDis1.disabled = false;

        } else if (no1_check.checked == true) {
            chineseNameDis1.checked = true; //disable chinese name
            chineseNameDis1.disabled = true;
        }

        if (yes2_check.checked == true) {
            chineseNameDis2.checked = false;
            chineseNameDis2.disabled = false;

        } else if (no2_check.checked == true) {
            chineseNameDis2.checked = true; //disable chinese name
            chineseNameDis2.disabled = true;
        }

        if (yes3_check.checked == true) {
            chineseNameDis3.checked = false;
            chineseNameDis3.disabled = false;

        } else if (no3_check.checked == true) {
            chineseNameDis3.checked = true; //disable chinese name
            chineseNameDis3.disabled = true;
        }

        if (yes4_check.checked == true) {
            chineseNameDis4.checked = false;
            chineseNameDis4.disabled = false;

        } else if (no4_check.checked == true) {
            chineseNameDis4.checked = true; //disable chinese name
            chineseNameDis4.disabled = true;

        }
    }

    function limitBirth() {
        var todayYear = new Date().getFullYear();
        var preAB = document.getElementById("preAB");
        var preCD = document.getElementById("preCD");
        var preE = document.getElementById("preE");
        var junA = document.getElementById("junA");
        var junB = document.getElementById("junB");
        var senA = document.getElementById("senA");
        var senB = document.getElementById("senB");
        var birth1 = document.getElementById("birth1");
        var birth2 = document.getElementById("birth2");
        var birth3 = document.getElementById("birth3");
        var birth4 = document.getElementById("birth4");

        if (preAB.checked == true) {
            var minYear = todayYear - 9; //2011
            var minDate = minYear + "-01-01";
            var maxYear = todayYear - 7; //2013
            var maxDate = maxYear + "-12-31";
            birth1.min = minDate;
            birth1.max = maxDate;
            birth2.min = minDate;
            birth2.max = maxDate;
            birth3.min = minDate;
            birth3.max = maxDate;
            birth4.min = minDate;
            birth4.max = maxDate;
        } else if (preCD.checked == true) {
            var minYear = todayYear - 12; //2008
            var minDate = minYear + "-01-01";
            var maxYear = todayYear - 10; //2010
            var maxDate = maxYear + "-12-31";
            birth1.min = minDate;
            birth1.max = maxDate;
            birth2.min = minDate;
            birth2.max = maxDate;
            birth3.min = minDate;
            birth3.max = maxDate;
            birth4.min = minDate;
            birth4.max = maxDate;
        } else if (preE.checked == true) {
            var minYear = todayYear - 18; //2002
            var minDate = minYear + "-01-01";
            var maxYear = todayYear - 13; //2007
            var maxDate = maxYear + "-12-31";
            birth1.min = minDate;
            birth1.max = maxDate;
            birth2.min = minDate;
            birth2.max = maxDate;
            birth3.min = minDate;
            birth3.max = maxDate;
            birth4.min = minDate;
            birth4.max = maxDate;
        } else if (junA.checked == true) {
            var minYear = todayYear - 9; //2011
            var minDate = minYear + "-01-01";
            var maxYear = todayYear - 7; //2013
            var maxDate = maxYear + "-12-31";
            birth1.min = minDate;
            birth1.max = maxDate;
            birth2.min = minDate;
            birth2.max = maxDate;
            birth3.min = minDate;
            birth3.max = maxDate;
            birth4.min = minDate;
            birth4.max = maxDate;
        } else if (junB.checked == true) {
            var minYear = todayYear - 12; //2008
            var minDate = minYear + "-01-01";
            var maxYear = todayYear - 10; //2010
            var maxDate = maxYear + "-12-31";
            birth1.min = minDate;
            birth1.max = maxDate;
            birth2.min = minDate;
            birth2.max = maxDate;
            birth3.min = minDate;
            birth3.max = maxDate;
            birth4.min = minDate;
            birth4.max = maxDate;
        } else if (senA.checked == true) {
            var minYear = todayYear - 15; //2005
            var minDate = minYear + "-01-01";
            var maxYear = todayYear - 13; //2007
            var maxDate = maxYear + "-12-31";
            birth1.min = minDate;
            birth1.max = maxDate;
            birth2.min = minDate;
            birth2.max = maxDate;
            birth3.min = minDate;
            birth3.max = maxDate;
            birth4.min = minDate;
            birth4.max = maxDate;
        } else if (senB.checked == true) {
            var maxYear = todayYear - 16; //2004 or before
            var maxDate = maxYear + "-12-31";
            birth1.max = maxDate;
            birth2.max = maxDate;
            birth3.max = maxDate;
            birth4.max = maxDate;
        }
    }
</script>